* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #222;
$mainGreen: #82b340;
$mainwhite: #fff;
$mainGray: #ececec;

body {
  background-color: $mainwhite;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif;
}
